body { /* Estiliza o corpo da página */
 font-family: Arial, Helvetica, sans-serif;
background-color: darkblue;
color:aliceblue;
display: flex;
justify-content: center;
align-items: center;
height: 100vh;
margin: 0;
}

.caixa { /* Estiliza a caixa principal */
  background-color: cornflowerblue;
  padding: 20px;
  border-radius: 10px;
  width: 300px;
  text-align: center;
}

input { /* Estiliza todos os campos input */
 width: 100%;
 padding: 10px;
 margin: 10px 0;
 box-sizing: border-box;
}

label { /* Estiliza os textos das opções */
  display: block;
  text-align: center;
  margin-top: 10px;
}

button { /* Estiliza os botões */
  width: 100%;
  padding: 10px;
  margin-top: 10px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

button:hover { /* Efeito ao passar o mouse */
  background-color: aquamarine;
  }